.spg-nav {
}

.spg-logo-border {
  width: 15%;
  display: inline-block;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  padding: 1% 0 1% 0;
  margin: 1% 0 1% 4%;
}

.spg-logo-image {
  width: 60%;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  padding-right: 2%;
}

.navbar-collapse {
}

.nav {
}

.navbar-nav {
}
