.spg-logo-outer-border {
  position: relative;
  bottom: 165px;
  width: 75%;
  padding: 12% 0 5% 0;
  background: #222;
  border-radius: 50%;
  text-align: center;
}

.spg-logo-inner-border {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0 5% 0;
  background: #fff;
  border-radius: 50%;
}

.spg-logo-image {
  width: 50%;
}
